In [1]:
import pandas as pd

In [2]:
! git clone https://github.com/andrealodi/ORIE-5213-Spring2023.git

fatal: destination path 'ORIE-5213-Spring2023' already exists and is not an empty directory.

In [3]:
initial_inven= pd.read_json("ORIE-5213-Spring2023/Bike sharing/Dataset/Initial_Inven.json")

In [4]:
initial_inven

     0
0    7
1    0
2    1
3    9
4    0
5    9
6    5
7   18
8    3
9    5
10  20
11  20
12  20
13  10
14   5
15   5
16   8
17  19
18   9
19   6
20  13
21  20
22  14
23  17
24   6
25  14
26   6
27  15
28  13
29   7

In [5]:
# number of bikes initially at stand 20
initial_inven.iloc[20]

0    13
Name: 20, dtype: int64

In [6]:
simu0= pd.read_json("ORIE-5213-Spring2023/Bike sharing/Dataset/simu0_0.json")

In [7]:
simu0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458 entries, 0 to 1457
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1458 non-null   int64
 1   1       1458 non-null   int64
 2   2       1458 non-null   int64
 3   3       1458 non-null   int64
dtypes: int64(4)
memory usage: 45.7 KB

In [8]:
simu0.describe()

                 0            1            2            3
count  1458.000000  1458.000000  1458.000000  1458.000000
mean    834.290123    14.154321   846.270919    13.951989
std     293.686675     9.045841   295.914786     9.105823
min       4.000000     0.000000     1.000000     0.000000
25%     553.750000     6.000000   565.250000     5.000000
50%     903.500000    15.000000   911.500000    14.000000
75%    1060.750000    22.000000  1077.000000    22.000000
max    1439.000000    29.000000  1429.000000    29.000000

In [9]:
simu0

         0   1     2   3
0        4   1    22  11
1       15   1    37  18
2       19  12    45   8
3       48  11    72   5
4       50  22    73  27
...    ...  ..   ...  ..
1453  1414  27     3   9
1454  1417  17  1428   3
1455  1432   0    14   8
1456  1439   9    21  29
1457  1439  16     7  17

[1458 rows x 4 columns]

In [10]:
# Adjust column 2 based on values in column 0
simu0.loc[simu0[0] > simu0[2], 2] += 1440

In [11]:
simu0

         0   1     2   3
0        4   1    22  11
1       15   1    37  18
2       19  12    45   8
3       48  11    72   5
4       50  22    73  27
...    ...  ..   ...  ..
1453  1414  27  1443   9
1454  1417  17  1428   3
1455  1432   0  1454   8
1456  1439   9  1461  29
1457  1439  16  1447  17

[1458 rows x 4 columns]

In [12]:
import pandas as pd

# Define the time ranges
time_range = [(i, i + 15) for i in range(0, 1440, 15)]

# Create the function to assign the time range
def assign_time_range(value):
    for start, end in time_range:
        if start <= value < end:
            return f"{start}-{end}"
    return "Unknown"

# Create the 'departure_time' column
simu0['departure_time'] = simu0[0].apply(assign_time_range)
simu0['arrival_time'] = simu0[2].apply(assign_time_range)

In [13]:
simu0.groupby([1,'departure_time'])[0].count().reset_index()

      1 departure_time  0
0     0      1005-1020  5
1     0      1020-1035  6
2     0      1035-1050  3
3     0      1050-1065  3
4     0      1065-1080  2
..   ..            ... ..
948  29        855-870  1
949  29        915-930  1
950  29        930-945  2
951  29        960-975  3
952  29       990-1005  3

[953 rows x 3 columns]

In [14]:
df_rentals = simu0.groupby([1, 'departure_time'])[0].count().reset_index()
df_rentals = df_rentals.rename(columns={0:"rentals", 1: "station_id"})
df_rentals

     station_id departure_time  rentals
0             0      1005-1020        5
1             0      1020-1035        6
2             0      1035-1050        3
3             0      1050-1065        3
4             0      1065-1080        2
..          ...            ...      ...
948          29        855-870        1
949          29        915-930        1
950          29        930-945        2
951          29        960-975        3
952          29       990-1005        3

[953 rows x 3 columns]

In [15]:
df_returns = simu0.groupby([3, 'arrival_time'])[2].count().reset_index()
df_returns = df_returns.rename(columns={2:"returns", 3: "station_id"})
df_returns

     station_id arrival_time  returns
0             0    1065-1080        1
1             0    1080-1095        1
2             0    1095-1110        1
3             0    1125-1140        1
4             0    1140-1155        2
..          ...          ...      ...
952          29      945-960        1
953          29      960-975        3
954          29      975-990        1
955          29     990-1005        1
956          29      Unknown        1

[957 rows x 3 columns]

In [16]:
import os
import pandas as pd

folder_path = "ORIE-5213-Spring2023/Bike sharing/Dataset"
json_files = [file for file in os.listdir(folder_path) if (file.endswith(".json") & file.startswith("simu"))]

dataframes = []
for json_file in json_files:
    day = json_file.split("_")[1].split(".")[0]
    file_path = os.path.join(folder_path, json_file)
    df = pd.read_json(file_path)
    df["day"] = int(day)
    dataframes.append(df)

combined_df = pd.concat(dataframes, ignore_index=True).sort_values(by='day')

In [17]:
combined_df.head(20)

           0   1     2   3  day
392122  1052  29  1077   7    0
392016  1024  26  1039  21    0
392015  1024  19  1029  22    0
392014  1024  13  1053  28    0
392013  1024   3  1051  13    0
392012  1024   2  1050  19    0
392011  1024   0  1052  27    0
392010  1023  18  1050  29    0
392009  1023  10  1046  16    0
392008  1023   4  1049   6    0
392007  1023   4  1039  21    0
392006  1023   2  1049  23    0
392005  1022  10  1051   8    0
392004  1021  28  1027  21    0
392003  1021   1  1026  23    0
392002  1021   0  1045   5    0
392001  1020  27  1035  17    0
392000  1020  19  1044  26    0
391999  1020  15  1030  25    0
391998  1020  13  1032   1    0

In [18]:
combined_df['dt'] = ""
combined_df['at'] = ""

for index, row in combined_df.iterrows():
    if row['day'] != 0:
        dt = row[0] + (1440 * row['day'])
        at = row[2] + (1440 * row['day'])
    else:
        dt = row[0]
        at = row[2]
    combined_df.at[index, 'dt'] = dt
    combined_df.at[index, 'at'] = at

In [19]:
# pd.set_option('display.max_rows', None)

In [20]:
combined_df[(combined_df['day']==0) & (combined_df[2] < combined_df[0])]

           0   1   2   3  day    dt  at
392504  1439  16   7  17    0  1439   7
392503  1439   9  21  29    0  1439  21
392502  1432   0  14   8    0  1432  14
392500  1414  27   3   9    0  1414   3
392499  1412  21   1   9    0  1412   1

In [21]:
# Adjust column 2 based on values in column 0
combined_df.loc[combined_df[0] > combined_df[2], 2] += 1440

In [22]:
combined_df[(combined_df['day']==0) & (combined_df[2] < combined_df[0])]

Empty DataFrame
Columns: [0, 1, 2, 3, day, dt, at]
Index: []

In [23]:
import pandas as pd

# Define the time ranges
time_range = [(i, i + 15) for i in range(0, 1440, 15)]

# Create the function to assign the time range
def assign_time_range(value):
    for start, end in time_range:
        if start <= value < end:
            return f"{start}-{end}"
    return "Unknown"

# Create the 'departure_time' column
combined_df['departure_time'] = combined_df[0].apply(assign_time_range)
combined_df['arrival_time'] = combined_df[2].apply(assign_time_range)

In [24]:
combined_df[combined_df['day']==0]

           0   1     2   3  day    dt    at departure_time arrival_time
392122  1052  29  1077   7    0  1052  1077      1050-1065    1065-1080
392016  1024  26  1039  21    0  1024  1039      1020-1035    1035-1050
392015  1024  19  1029  22    0  1024  1029      1020-1035    1020-1035
392014  1024  13  1053  28    0  1024  1053      1020-1035    1050-1065
392013  1024   3  1051  13    0  1024  1051      1020-1035    1050-1065
...      ...  ..   ...  ..  ...   ...   ...            ...          ...
391520   661  27   685   4    0   661   685        660-675      675-690
391519   661   3   685  26    0   661   685        660-675      675-690
391518   660  25   675  15    0   660   675        660-675      675-690
391525   667  12   692   2    0   667   692        660-675      690-705
391535   671   0   677  27    0   671   677        660-675      675-690

[1458 rows x 9 columns]

In [25]:
df_rentals = combined_df.groupby([1, 'departure_time', 'day'])[0].count().reset_index()
df_rentals = df_rentals.rename(columns={0:"rentals", 1: "station_id"})
df_rentals.head(20)

    station_id departure_time  day  rentals
0            0           0-15    2        2
1            0           0-15    6        1
2            0           0-15   16        1
3            0           0-15   33        1
4            0           0-15   36        1
5            0           0-15   51        1
6            0           0-15   63        1
7            0           0-15   76        1
8            0           0-15   87        1
9            0           0-15   95        1
10           0           0-15   98        1
11           0           0-15   99        1
12           0           0-15  107        1
13           0           0-15  110        1
14           0           0-15  122        1
15           0           0-15  134        2
16           0           0-15  142        1
17           0           0-15  147        1
18           0           0-15  155        1
19           0           0-15  162        2

In [26]:
df_returns = combined_df.groupby([3, 'arrival_time', 'day'])[2].count().reset_index()
df_returns = df_returns.rename(columns={2:"returns", 3: "station_id"})
df_returns.head(20)

    station_id arrival_time  day  returns
0            0         0-15   14        1
1            0         0-15   61        1
2            0         0-15  162        1
3            0         0-15  184        1
4            0         0-15  260        1
5            0         0-15  311        1
6            0         0-15  329        1
7            0         0-15  337        1
8            0         0-15  372        1
9            0         0-15  407        1
10           0         0-15  425        1
11           0         0-15  461        1
12           0    1005-1020    3        1
13           0    1005-1020    4        1
14           0    1005-1020    5        1
15           0    1005-1020   12        1
16           0    1005-1020   13        1
17           0    1005-1020   17        1
18           0    1005-1020   18        1
19           0    1005-1020   20        1

In [28]:
df_rentals.to_csv("rentals.csv")
df_returns.to_csv("returns.csv")