In [1]:
import pandas as pd

In [2]:
! git clone https://github.com/andrealodi/ORIE-5213-Spring2023.git

Cloning into 'ORIE-5213-Spring2023'...
remote: Enumerating objects: 553, done.
remote: Counting objects: 100% (20/20), done.
remote: Compressing objects: 100% (18/18), done.
remote: Total 553 (delta 2), reused 0 (delta 0), pack-reused 533
Receiving objects: 100% (553/553), 3.15 MiB | 21.23 MiB/s, done.
Resolving deltas: 100% (505/505), done.

In [3]:
initial_inven= pd.read_json("ORIE-5213-Spring2023/Bike sharing/Dataset/Initial_Inven.json")

In [4]:
initial_inven

     0
0    7
1    0
2    1
3    9
4    0
5    9
6    5
7   18
8    3
9    5
10  20
11  20
12  20
13  10
14   5
15   5
16   8
17  19
18   9
19   6
20  13
21  20
22  14
23  17
24   6
25  14
26   6
27  15
28  13
29   7

In [5]:
# number of bikes initially at stand 20
initial_inven.iloc[20]

0    13
Name: 20, dtype: int64

In [6]:
simu0= pd.read_json("ORIE-5213-Spring2023/Bike sharing/Dataset/simu0_0.json")

In [7]:
simu0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458 entries, 0 to 1457
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1458 non-null   int64
 1   1       1458 non-null   int64
 2   2       1458 non-null   int64
 3   3       1458 non-null   int64
dtypes: int64(4)
memory usage: 45.7 KB

In [8]:
simu0.describe()

                 0            1            2            3
count  1458.000000  1458.000000  1458.000000  1458.000000
mean    834.290123    14.154321   846.270919    13.951989
std     293.686675     9.045841   295.914786     9.105823
min       4.000000     0.000000     1.000000     0.000000
25%     553.750000     6.000000   565.250000     5.000000
50%     903.500000    15.000000   911.500000    14.000000
75%    1060.750000    22.000000  1077.000000    22.000000
max    1439.000000    29.000000  1429.000000    29.000000

In [9]:
simu0

         0   1     2   3
0        4   1    22  11
1       15   1    37  18
2       19  12    45   8
3       48  11    72   5
4       50  22    73  27
...    ...  ..   ...  ..
1453  1414  27     3   9
1454  1417  17  1428   3
1455  1432   0    14   8
1456  1439   9    21  29
1457  1439  16     7  17

[1458 rows x 4 columns]

In [10]:
# Adjust column 2 based on values in column 0
simu0.loc[simu0[0] > simu0[2], 2] += 1440

In [11]:
simu0

         0   1     2   3
0        4   1    22  11
1       15   1    37  18
2       19  12    45   8
3       48  11    72   5
4       50  22    73  27
...    ...  ..   ...  ..
1453  1414  27  1443   9
1454  1417  17  1428   3
1455  1432   0  1454   8
1456  1439   9  1461  29
1457  1439  16  1447  17

[1458 rows x 4 columns]

In [12]:
import pandas as pd

# Define the time ranges
time_range = [(i, i + 15) for i in range(0, 1440, 15)]

# Create the function to assign the time range
def assign_time_range(value):
    for start, end in time_range:
        if start <= value < end:
            return f"{start}-{end}"
    return "Unknown"

# Create the 'departure_time' column
simu0['departure_time'] = simu0[0].apply(assign_time_range)
simu0['arrival_time'] = simu0[2].apply(assign_time_range)

In [13]:
simu0.groupby([1,'departure_time'])[0].count().reset_index()

      1 departure_time  0
0     0      1005-1020  5
1     0      1020-1035  6
2     0      1035-1050  3
3     0      1050-1065  3
4     0      1065-1080  2
..   ..            ... ..
948  29        855-870  1
949  29        915-930  1
950  29        930-945  2
951  29        960-975  3
952  29       990-1005  3

[953 rows x 3 columns]

In [14]:
# import pandas as pd

# # Define the time ranges
# time_range = list(i for i in range(0, 1455, 15))

# # Create the 'departure_time' column
# simu0['departure_time'] = pd.cut(simu0[0], bins=time_range, labels=time_range[:-1])
# simu0['arrival_time'] = pd.cut(simu0[2], bins=time_range, labels=time_range[:-1])

# # Convert the 'departure_time' column to integer type
# simu0['departure_time'] = simu0['departure_time'].astype(int)
# simu0['arrival_time'] = simu0['arrival_time'].astype(int)
# simu0

In [15]:
station0 = simu0[(simu0[1]==0)]
station0[station0['departure_time']=='1020-1035']

         0  1     2   3 departure_time arrival_time
955   1021  0  1045   5      1020-1035    1035-1050
964   1024  0  1052  27      1020-1035    1050-1065
993   1032  0  1048   5      1020-1035    1035-1050
998   1033  0  1046  15      1020-1035    1035-1050
999   1033  0  1060  10      1020-1035    1050-1065
1004  1034  0  1055  29      1020-1035    1050-1065

In [16]:
df_rentals = simu0.groupby([1, 'departure_time'])[0].count().reset_index()
df_rentals = df_rentals.rename(columns={0:"rentals", 1: "station_id"})
df_rentals

     station_id departure_time  rentals
0             0      1005-1020        5
1             0      1020-1035        6
2             0      1035-1050        3
3             0      1050-1065        3
4             0      1065-1080        2
..          ...            ...      ...
948          29        855-870        1
949          29        915-930        1
950          29        930-945        2
951          29        960-975        3
952          29       990-1005        3

[953 rows x 3 columns]

In [17]:
df_returns = simu0.groupby([3, 'arrival_time'])[2].count().reset_index()
df_returns = df_returns.rename(columns={2:"returns", 3: "station_id"})
df_returns

     station_id arrival_time  returns
0             0    1065-1080        1
1             0    1080-1095        1
2             0    1095-1110        1
3             0    1125-1140        1
4             0    1140-1155        2
..          ...          ...      ...
952          29      945-960        1
953          29      960-975        3
954          29      975-990        1
955          29     990-1005        1
956          29      Unknown        1

[957 rows x 3 columns]

In [18]:
!ls ORIE-5213-Spring2023/'Bike sharing'/Dataset

Dis.json	    simu0_211.json  simu0_325.json  simu0_439.json
Initial_Inven.json  simu0_212.json  simu0_326.json  simu0_43.json
simu0_0.json	    simu0_213.json  simu0_327.json  simu0_440.json
simu0_100.json	    simu0_214.json  simu0_328.json  simu0_441.json
simu0_101.json	    simu0_215.json  simu0_329.json  simu0_442.json
simu0_102.json	    simu0_216.json  simu0_32.json   simu0_443.json
simu0_103.json	    simu0_217.json  simu0_330.json  simu0_444.json
simu0_104.json	    simu0_218.json  simu0_331.json  simu0_445.json
simu0_105.json	    simu0_219.json  simu0_332.json  simu0_446.json
simu0_106.json	    simu0_21.json   simu0_333.json  simu0_447.json
simu0_107.json	    simu0_220.json  simu0_334.json  simu0_448.json
simu0_108.json	    simu0_221.json  simu0_335.json  simu0_449.json
simu0_109.json	    simu0_222.json  simu0_336.json  simu0_44.json
simu0_10.json	    simu0_223.json  simu0_337.json  simu0_450.json
simu0_110.json	    simu0_224.json  simu0_338.json  simu0_451.json
simu0_111.json	    simu0_225.json  simu0_339.json  simu0_452.json
simu0_112.json	    simu0_226.json  simu0_33.json   simu0_453.json
simu0_113.json	    simu0_227.json  simu0_340.json  simu0_454.json
simu0_114.json	    simu0_228.json  simu0_341.json  simu0_455.json
simu0_115.json	    simu0_229.json  simu0_342.json  simu0_456.json
simu0_116.json	    simu0_22.json   simu0_343.json  simu0_457.json
simu0_117.json	    simu0_230.json  simu0_344.json  simu0_458.json
simu0_118.json	    simu0_231.json  simu0_345.json  simu0_459.json
simu0_119.json	    simu0_232.json  simu0_346.json  simu0_45.json
simu0_11.json	    simu0_233.json  simu0_347.json  simu0_460.json
simu0_120.json	    simu0_234.json  simu0_348.json  simu0_461.json
simu0_121.json	    simu0_235.json  simu0_349.json  simu0_462.json
simu0_122.json	    simu0_236.json  simu0_34.json   simu0_463.json
simu0_123.json	    simu0_237.json  simu0_350.json  simu0_464.json
simu0_124.json	    simu0_238.json  simu0_351.json  simu0_465.json
simu0_125.json	    simu0_239.json  simu0_352.json  simu0_466.json
simu0_126.json	    simu0_23.json   simu0_353.json  simu0_467.json
simu0_127.json	    simu0_240.json  simu0_354.json  simu0_468.json
simu0_128.json	    simu0_241.json  simu0_355.json  simu0_469.json
simu0_129.json	    simu0_242.json  simu0_356.json  simu0_46.json
simu0_12.json	    simu0_243.json  simu0_357.json  simu0_470.json
simu0_130.json	    simu0_244.json  simu0_358.json  simu0_471.json
simu0_131.json	    simu0_245.json  simu0_359.json  simu0_472.json
simu0_132.json	    simu0_246.json  simu0_35.json   simu0_473.json
simu0_133.json	    simu0_247.json  simu0_360.json  simu0_474.json
simu0_134.json	    simu0_248.json  simu0_361.json  simu0_475.json
simu0_135.json	    simu0_249.json  simu0_362.json  simu0_476.json
simu0_136.json	    simu0_24.json   simu0_363.json  simu0_477.json
simu0_137.json	    simu0_250.json  simu0_364.json  simu0_478.json
simu0_138.json	    simu0_251.json  simu0_365.json  simu0_479.json
simu0_139.json	    simu0_252.json  simu0_366.json  simu0_47.json
simu0_13.json	    simu0_253.json  simu0_367.json  simu0_480.json
simu0_140.json	    simu0_254.json  simu0_368.json  simu0_481.json
simu0_141.json	    simu0_255.json  simu0_369.json  simu0_482.json
simu0_142.json	    simu0_256.json  simu0_36.json   simu0_483.json
simu0_143.json	    simu0_257.json  simu0_370.json  simu0_484.json
simu0_144.json	    simu0_258.json  simu0_371.json  simu0_485.json
simu0_145.json	    simu0_259.json  simu0_372.json  simu0_486.json
simu0_146.json	    simu0_25.json   simu0_373.json  simu0_487.json
simu0_147.json	    simu0_260.json  simu0_374.json  simu0_488.json
simu0_148.json	    simu0_261.json  simu0_375.json  simu0_489.json
simu0_149.json	    simu0_262.json  simu0_376.json  simu0_48.json
simu0_14.json	    simu0_263.json  simu0_377.json  simu0_490.json
simu0_150.json	    simu0_264.json  simu0_378.json  simu0_491.json
simu0_151.json	    simu0_265.json  simu0_379.json  simu0_492.json
simu0_152.json	    simu0_266.json  simu0_37.json   simu0_493.json
simu0_153.json	    simu0_267.json  simu0_380.json  simu0_494.json
simu0_154.json	    simu0_268.json  simu0_381.json  simu0_495.json
simu0_155.json	    simu0_269.json  simu0_382.json  simu0_496.json
simu0_156.json	    simu0_26.json   simu0_383.json  simu0_497.json
simu0_157.json	    simu0_270.json  simu0_384.json  simu0_498.json
simu0_158.json	    simu0_271.json  simu0_385.json  simu0_499.json
simu0_159.json	    simu0_272.json  simu0_386.json  simu0_49.json
simu0_15.json	    simu0_273.json  simu0_387.json  simu0_4.json
simu0_160.json	    simu0_274.json  simu0_388.json  simu0_50.json
simu0_161.json	    simu0_275.json  simu0_389.json  simu0_51.json
simu0_162.json	    simu0_276.json  simu0_38.json   simu0_52.json
simu0_163.json	    simu0_277.json  simu0_390.json  simu0_53.json
simu0_164.json	    simu0_278.json  simu0_391.json  simu0_54.json
simu0_165.json	    simu0_279.json  simu0_392.json  simu0_55.json
simu0_166.json	    simu0_27.json   simu0_393.json  simu0_56.json
simu0_167.json	    simu0_280.json  simu0_394.json  simu0_57.json
simu0_168.json	    simu0_281.json  simu0_395.json  simu0_58.json
simu0_169.json	    simu0_282.json  simu0_396.json  simu0_59.json
simu0_16.json	    simu0_283.json  simu0_397.json  simu0_5.json
simu0_170.json	    simu0_284.json  simu0_398.json  simu0_60.json
simu0_171.json	    simu0_285.json  simu0_399.json  simu0_61.json
simu0_172.json	    simu0_286.json  simu0_39.json   simu0_62.json
simu0_173.json	    simu0_287.json  simu0_3.json    simu0_63.json
simu0_174.json	    simu0_288.json  simu0_400.json  simu0_64.json
simu0_175.json	    simu0_289.json  simu0_401.json  simu0_65.json
simu0_176.json	    simu0_28.json   simu0_402.json  simu0_66.json
simu0_177.json	    simu0_290.json  simu0_403.json  simu0_67.json
simu0_178.json	    simu0_291.json  simu0_404.json  simu0_68.json
simu0_179.json	    simu0_292.json  simu0_405.json  simu0_69.json
simu0_17.json	    simu0_293.json  simu0_406.json  simu0_6.json
simu0_180.json	    simu0_294.json  simu0_407.json  simu0_70.json
simu0_181.json	    simu0_295.json  simu0_408.json  simu0_71.json
simu0_182.json	    simu0_296.json  simu0_409.json  simu0_72.json
simu0_183.json	    simu0_297.json  simu0_40.json   simu0_73.json
simu0_184.json	    simu0_298.json  simu0_410.json  simu0_74.json
simu0_185.json	    simu0_299.json  simu0_411.json  simu0_75.json
simu0_186.json	    simu0_29.json   simu0_412.json  simu0_76.json
simu0_187.json	    simu0_2.json    simu0_413.json  simu0_77.json
simu0_188.json	    simu0_300.json  simu0_414.json  simu0_78.json
simu0_189.json	    simu0_301.json  simu0_415.json  simu0_79.json
simu0_18.json	    simu0_302.json  simu0_416.json  simu0_7.json
simu0_190.json	    simu0_303.json  simu0_417.json  simu0_80.json
simu0_191.json	    simu0_304.json  simu0_418.json  simu0_81.json
simu0_192.json	    simu0_305.json  simu0_419.json  simu0_82.json
simu0_193.json	    simu0_306.json  simu0_41.json   simu0_83.json
simu0_194.json	    simu0_307.json  simu0_420.json  simu0_84.json
simu0_195.json	    simu0_308.json  simu0_421.json  simu0_85.json
simu0_196.json	    simu0_309.json  simu0_422.json  simu0_86.json
simu0_197.json	    simu0_30.json   simu0_423.json  simu0_87.json
simu0_198.json	    simu0_310.json  simu0_424.json  simu0_88.json
simu0_199.json	    simu0_311.json  simu0_425.json  simu0_89.json
simu0_19.json	    simu0_312.json  simu0_426.json  simu0_8.json
simu0_1.json	    simu0_313.json  simu0_427.json  simu0_90.json
simu0_200.json	    simu0_314.json  simu0_428.json  simu0_91.json
simu0_201.json	    simu0_315.json  simu0_429.json  simu0_92.json
simu0_202.json	    simu0_316.json  simu0_42.json   simu0_93.json
simu0_203.json	    simu0_317.json  simu0_430.json  simu0_94.json
simu0_204.json	    simu0_318.json  simu0_431.json  simu0_95.json
simu0_205.json	    simu0_319.json  simu0_432.json  simu0_96.json
simu0_206.json	    simu0_31.json   simu0_433.json  simu0_97.json
simu0_207.json	    simu0_320.json  simu0_434.json  simu0_98.json
simu0_208.json	    simu0_321.json  simu0_435.json  simu0_99.json
simu0_209.json	    simu0_322.json  simu0_436.json  simu0_9.json
simu0_20.json	    simu0_323.json  simu0_437.json
simu0_210.json	    simu0_324.json  simu0_438.json

In [48]:
import os
import pandas as pd

folder_path = "ORIE-5213-Spring2023/Bike sharing/Dataset"
json_files = [file for file in os.listdir(folder_path) if (file.endswith(".json") & file.startswith("simu"))]

dataframes = []
for json_file in json_files:
    day = json_file.split("_")[1].split(".")[0]
    file_path = os.path.join(folder_path, json_file)
    df = pd.read_json(file_path)
    df["day"] = int(day)
    dataframes.append(df)

combined_df = pd.concat(dataframes, ignore_index=True).sort_values(by='day')

In [49]:
combined_df

In [50]:
# def func(combined_df, combined_df_col):
#   if (combined_df_col != '0'):
#     result = combined_df[combined_df_col != 0][0] + (1440 * combined_df[combined_df_col])
#   else: 
#     result = combined_df[0]
#   return result
# combined_df['at'] = combined_df[combined_df['day'] != 0][2] + (1440 * combined_df['day']) if (combined_df['day'] != 0) else combined_df[2]

In [51]:
# new_df = combined_df.apply(lambda x: x.apply(func(x, "day")))

In [52]:
# for day in combined_df['day']:
#     if day != '0':
#         combined_df['dt'] = combined_df[0] + (1440 * int(day))
#         combined_df['at'] = combined_df[2] + (1440 * int(day))
#     else:
#         combined_df['dt'] = combined_df[0]
#         combined_df['at'] = combined_df[2]

In [ ]:
combined_df

In [35]:
combined_df['dt'] = ""
combined_df['at'] = ""

for index, row in combined_df.iterrows():
    if row['day'] != 0:
        dt = row[0] + (1440 * row['day'])
        at = row[2] + (1440 * row['day'])
    else:
        dt = row[0]
        at = row[2]
    combined_df.at[index, 'dt'] = dt
    combined_df.at[index, 'at'] = at

In [36]:
# combined_df['dt'] = ""
# combined_df['at'] = ""

# for index,row in combined_df.iterrows():
#     if row['day'] != 0:
#         dt = row[0] + (1440 * row['day'])
#         at = row[2] + (1440 * row['day'])
#         # combined_df['dt'].append(dt)
#         # combined_df['at'].append(at)
#     else:
#         dt = row[0]
#         at = row[2]
#     combined_df['dt'].append(dt)
#     combined_df['at'].append(at)

In [37]:
# def new_func(combined_df, day):
#     if day != 0:
#         combined_df['dt'] = combined_df[0] + (1440 * day)
#         combined_df['at'] = combined_df[2] + (1440 * day)
#     else:
#         combined_df['dt'] = combined_df[0]
#         combined_df['at'] = combined_df[2]

In [38]:
# new_df = combined_df.apply(lambda x: x.apply(new_func(x, combined_df["day"])))

In [41]:
pd.set_option('display.max_rows', None)

In [47]:
combined_df[(combined_df['day']==0) & (combined_df[2] < combined_df[0])]

Empty DataFrame
Columns: [0, 1, 2, 3, day, dt, at]
Index: []

In [46]:
# Adjust column 2 based on values in column 0
combined_df.loc[combined_df[0] > combined_df[2], 2] += 1440

In [ ]:
combined_df[(combined_df['day']==0) & (combined_df[2] < combined_df[0])]